<!DOCTYPE html>
<html>
<head>
<head>
  <meta charset="UTF-8">
        <link rel="stylesheet" href="D:\Users\Michelle\AppData\Local\Programs\Python\Python36\Flask App\static\style.css">
</head>

    <title>Login</title>
<div class="container">
	<li role="presentation"><a href="/signIn">Sign In</a></li>

 	<li role="presentation"><a href="/signUp">Sign Up</a></li>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>


</div>

</head>
</html>

