<html>
<head>
<title>Sign In</title>
<link href="./static/css/login.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>
<body>
	<header>		
		<div id="login-box">
		   <div class="one-box">
		      <h2> WELCOME! </h2>
		          <form action="" method="POST">
                             {% if error %}
                              <p class=error><strong>Error:</strong> {{ error }}
                             {% endif %}
                              <div class="input-group">
				<h3>Username<br><br>
				<span class="input-group-addon" id="basic-addon3"></span>
			         <input type="text" class="form-control" name="username" required placeholder="Enter Username" id="user" aria-describedby="basic-addon3"/>
			         <br> 
			         <br>Password<br><br>
				  <span class="input-group-addon" id="basic-addon3"></span>
			         <input type="password" class="form-control" id="pass" name="password" required placeholder="Enter Password" aria-describedby="basic-addon3"/>
			         <br>
			         </h3>
			<input type="Submit" value="Login" class="btn btn-default btn-sm">
			
			      </div>
		    </div>
		</div>
	</header>
</body>

</html>
